name: Build QMK Firmware

on:
  workflow_call:
    inputs:
      keyboard:
        required: true
        type: string
      keymap:
        required: true
        type: string
      side:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli

    steps:
    - name: Checkout code - Non PR
      uses: actions/checkout@v4
      if: ${{ startsWith(github.ref, 'refs/tags') }}
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ref: ${{ github.ref }}
        fetch-depth: 0
        submodules: 'recursive'

    - name: Checkout code - PR
      uses: actions/checkout@v4
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
        submodules: 'recursive'

    - name: Get tag version
      if: ${{ startsWith(github.ref, 'refs/tags/')}}
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

    - name: Build firmware
      id: build_firmware
      run: |
        git config --global --add safe.directory '*'
        pip3 install -r requirements.txt
        qmk setup -y
        make ${{ inputs.keyboard }}/${{ inputs.side }}:${{ inputs.keymap }}
      shell: bash

    - name: Calculate keyboard name
      id: keyboard_vars
      run: |
        KEYBOARD_NAME="${{ inputs.keyboard }}"
        KEYBOARD_NAME="${KEYBOARD_NAME//\//_}"
        echo "keyboard_name=$KEYBOARD_NAME" >> $GITHUB_ENV
        echo "keyboard_name=$KEYBOARD_NAME" >> $GITHUB_OUTPUT
      shell: bash

    - name: Add file to PR.
      uses: actions/upload-artifact@v4
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      with:
        name: ${{ env.keyboard_name }}_${{ inputs.side }}_${{ inputs.keymap }}.uf2
        path: ${{ env.keyboard_name }}_${{ inputs.side }}_${{ inputs.keymap }}.uf2

    - name: Move file into position (for tags only)
      id: move_file
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      run: |
        FILE_NAME="${{ env.keyboard_name }}_${{ inputs.side }}_${{ inputs.keymap }}_${{ steps.get_version.outputs.VERSION }}.uf2"
        mv ${{ env.keyboard_name }}_${{ inputs.side }}_${{ inputs.keymap }}.uf2 "$FILE_NAME"
        echo "file_name=$FILE_NAME" >> $GITHUB_OUTPUT
      shell: bash

    - name: Release
      uses: ncipollo/release-action@v1.11.2
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        allowUpdates: True
        artifacts: "${{ steps.move_file.outputs.file_name }}"
